@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Finlandica', sans-serif;
}
#toggleButton{
    background-color: white;
    color: black;
    height: 5vh;
    width: 10vw;
}
.dark-mode {
    background-color: black;
    color: white;
    
  }
#modes{
    padding-left: 45vw;
    padding-top: 12.5vh;
    position: absolute;
    
}
#toggleButton{
    border-radius: 15px;
    font-family: 'Finlandica', sans-serif;
    font-size: 1em;
}
#clock-container{
    height: 68vh;
    width: 40vw;
    background-color: black;
    position: absolute;
    margin-left: 29.5vw;
    margin-top: 28vh;
    border-radius: 2.2cm;
}
#clock{
    height: 25vw;
    width: 25vw;
    background-color: white;
    position: absolute;
    margin-top: 5vh;
    margin-left: 7.8vw;
    border-radius: 10cm;

}
#time{
    color: white;
    position: absolute;
    font-size: 2em;
    
}
#date{
    padding-top: 5.8vh;
    color: white;
    position: absolute;
    font-size: 1em;
    padding-left: 1.2vw;
}
#details{
    margin-top: 57.8vh;
    margin-left: 15.2vw;
}
#center-point{
    font-size: 2em;
    position: absolute;
    background-color: black;
    height: 1vw;
    width: 1vw;
    margin-top: 24.5vh;
    margin-left: 12.4vw;
    border-radius: 2cm;
}
#second{
    height: 19vh;
    width: 0.3vw;
    position: absolute;
    margin-top: 6.45vh;
    margin-left: 12.62vw;
    background-color: red;
    transform-origin: bottom;
}
#minute{
    height: 19vh;
    width: 0.3vw;
    position: absolute;
    margin-top: 6.4vh;
    margin-left: 12.6vw;
    background-color: black;
    transform-origin: bottom;
}
#hour{
    height: 11.5vh;
    width: 0.3vw;
    position: absolute;
    margin-top: 13.8vh;
    margin-left: 12.42vw;
    background-color: black;
    transform-origin: bottom;
}
